body {
    background: #3e3e3e;
    color: white;
    margin: 0;
}

div.content {
    text-align: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.help-wrap {
    position: relative;
    top: -21px;
    height: 0;
    display: none;
}
p.help {
    font-weight: normal;
    text-align: center;
    font-size: 11pt;
    font-family: Consolas;
    color: #ffffff;
    background: #184c9c;
    border-radius: 6px;
    padding: 4px 14px 3px 14px;
    margin: 0;
}
p.help i {
    top: 1px;
    position: relative;
    margin-right: 6px;
}

.input {
    text-align: center;
    position: relative;
}

input#guid {
    font-size: 40px;
    width: 90%;
    height: 100px;
    font-family: consolas;
    background: #615f5f;
    color: white;
    text-align: center;
    cursor: copy;
    outline: none;
    border: 5px solid #4c4b4b;
    border-radius: 10pt;
    margin-top: 10px;
}

.btn {
    outline: none;
    background: none;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    font-size: 30pt;
    cursor: pointer;
}
.btn:hover {
    color: #000000;
    background-color: #FFFFFF;
}
.btn:active {
    position: relative;
    top: 1px;
}

.panel {
    display: inline-block;
    margin: 20px 0 10px 0;
    width: 100%;
}

#copied {
    width: 100%;
    position: relative;
    height: 0;
}
#copied .copied-message {
    display: none;
    position: relative;
    left: -400px;
    top: -90px;
    transform: rotate(-20deg);
    font-family: Consolas;
    font-size: 20pt;
    background: #184c9c;
    padding: 2px 10px;
    color: white;
}

#copied.show .copied-message {
    display: inline-block;
}

div#testimonials {
    background: -moz-linear-gradient(
        left,
        #4c4b4b 0%,
        #949494 50%,
        #949494 50%,
        #4c4b4b 100%
    );
    background: -webkit-gradient(linear,left top,right top, color-stop(0%, #3e3e3e), color-stop(50%, #6f6f6f), color-stop(50%, #6f6f6f), color-stop(100%, #3e3e3e));
    margin: 100px auto 0 auto;
    padding: 20px 0px;
    text-align: center;
    font-family: Georgia;
}

div#testimonials li {
    display: inline-block;
    vertical-align: top;
}

div#testimonials ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#testimonials .testimonial:before {
    content: '“';
    font-size: 100pt;
    float: left;
    height: 0px;
    position: relative;
    top: -20px;
    color: #eaeaea;
}

div#testimonials .testimonial:after {
    content: '”';
    font-size: 100pt;
    float: right;
    height: 0px;
    position: relative;
    bottom: 80px;
    color: #eaeaea;
}

div#testimonials .testimonial {
    display: inline-block;
    position: relative;
    padding: 10px 30px 0px 30px;
    margin: 0px 10px 10px 10px;
    background: white;
    color: #212121;
    border-radius: 20px;
    width: 200px;
}

div#testimonials .testimonial p.content {
    display: block;
    padding: 60px 20px 0px 20px;
    margin: 0;
    font-style: italic;
}

div#testimonials .testimonial p.author:before {
    content: ' - ';
    font-size: 20pt;
    position: relative;
    top: 2px;
}

div#testimonials .testimonial p.author {
    display: block;
    padding: 0px 20px 60px 20px;
    margin: 0;
    font-style: italic;
    color: #575757;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1000px) {
    input#guid {
        font-size: 30px;
    }
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    input#guid {
        font-size: 14px;
        height: 50px;
        width: 100%;
    }

    p.help {
        display: none;
    }

    .btn {
        font-size: 15pt;
        padding: 6px 24px;
    }

    div#testimonials {
        font-size: 10pt;
        margin: 20px auto 0 auto;
    }

    div#testimonials .testimonial {
        padding: 10px 10px 0px 10px;
    }

    div#testimonials .testimonial p.content {
        padding: 30px 10px 0px 10px;
    }

    div#testimonials .testimonial p.author {
        padding: 0px 10px 30px 10px;
    }

    div#testimonials .testimonial:before {
        font-size: 50pt;
        top: -10px;
    }

    div#testimonials .testimonial:after {
        font-size: 50pt;
        bottom: 40px;
    }
}