body {
    background: #3e3e3e;
}
p.help {
    text-align: center;
    font-size: 15pt;
    font-family: Consolas;
    color: #4dfeff;
    width: auto;
    background: #006077;
    display: inline-block;
    border-radius: 25px;
    padding: 8px 20px 8px 15px;
    margin-top: 5px;
}

input#guid {
    font-size: 40px;
    width: 100%;
    height: 100px;
    border: none;
    font-family: consolas;
    background: #4a4848;
    color: white;
    text-align: center;
    cursor: grab;
    outline: none;
}

.btn {
    -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: -webkit-gradient(linear,left top,left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
    background: -moz-linear-gradient(
        top,
        #77d42a 5%,
        #5cb811 100%
    );
    background: -webkit-linear-gradient(
        top,
        #77d42a 5%,
        #5cb811 100%
    );
    background: -o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background: -ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background: linear-gradient(
        to bottom,
        #77d42a 5%,
        #5cb811 100%
    );
    background-color: #77d42a;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #306108;
    font-family: Arial;
    font-size: 20pt;
    font-weight: bold;
    padding: 12px 48px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
    display: block;
    margin: 20px auto 0 auto;
    width: 90%;
    text-align: center;
}
.btn:hover {
    background: -webkit-gradient(linear,left top,left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
    background: -moz-linear-gradient(
        top,
        #5cb811 5%,
        #77d42a 100%
    );
    background: -webkit-linear-gradient(
        top,
        #5cb811 5%,
        #77d42a 100%
    );
    background: -o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background: -ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background: linear-gradient(
        to bottom,
        #5cb811 5%,
        #77d42a 100%
    );
    background-color: #5cb811;
}
.btn:active {
    position: relative;
    top: 1px;
}

#copied {
    width: 100%;
    position: relative;
}
#copied .copied-message {
    display: none;
    position: absolute;
    left: -2px;
    top: -175px;
    transform: rotate(-20deg);
    font-family: Consolas;
    font-size: 20pt;
    background: rgba(241, 0, 133, 0.95);
    padding: 2px 10px;
    color: white;
}

#copied.show .copied-message {
    display: inline-block;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}